<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{#block "title"}}
        {{/block}}
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{#block "navbar"}}
    {{/block}}

    {{#block "content"}}
    {{/block}}

    {{#block "footer"}}
    {{/block}}
<script src="/js/custom.js"></script>
</body>
</html>